{% extends "index.html" %}

{% block content %}
<div class="about-section bg-white p-4 sm:p-6 md:p-8 max-w-full sm:max-w-2xl mx-auto mt-6 sm:mt-10 rounded shadow">
    <h1 class="text-2xl sm:text-3xl font-bold mb-3 sm:mb-4 text-gray-800">About Us</h1>
    <p class="mb-2 text-lg sm:text-2xl text-gray-600">Welcome to our blog! This page provides information about us.</p>
    <p class="text-lg sm:text-2xl text-gray-600">We share articles, tutorials, and insights on various topics.</p>
</div>
{% endblock %}