{% load static %}
{% comment %} {% load humanize %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Blog{% endblock %}</title>
  {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..400&display=swap" rel="stylesheet">
</head>
<body style= "font-family: 'Quicksand', sans-serif" class="bg-black text-white min-h-screen ">
  <header class="p-6">
    <nav class="flex space-x-4">
      <div class="flex justify-between items-center w-full">
        <div class="flex items-center">
          <span class="font-bold text-xl">MyBlog</span>
        </div>
        <div class="flex space-x-4">
          <a href="{% url 'homepage' %}" class="text-xl text-white hover:text-gray-300 border-e px-5 py-1" >Home</a>
          <a href="{% url 'blog_list' %}" class="text-xl text-white hover:text-gray-300 py-1">Articles</a>
        </div>
      </div>
      
    </nav>
  </header>
  <main class="container mx-auto px-6 py-10">
    {% block content %}
    <div class="space-y-6">
      {% for post in posts %} 
        <div class="w-full">
          <a href="{% url 'blog_detail' post.id %}" class="block">
            <h2 class="text-2xl font-bold truncate" title="{{ post.title }}">
              {{ post.title }}
            </h2>
          </a>
          
        </div>
      {% empty %}
        <div class="text-gray-400">No posts yet.</div>
      {% endfor %}
    </div>
    
    {% endblock %}
  </main>
  <footer class="text-center p-4 mt-8 w-full fixed bottom-0 left-0 bg-black">
    <p>&copy; {{ year }} My Blog</p>
  </footer>
</body>
</html>